:root {
    --color1: #6b5ccd;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Verdana, Tahoma, sans-serif;
}

.main-title {
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.slider {
    position: relative;
    margin: 0 auto;
    max-width: 90rem;
    height: 50rem;
    border: 5px solid var(--color1);
    /* border-radius: 2rem; */
    display: flex;
    align-items: stretch;
}

.slider__slide {
    width: 100%;
    background-size: cover;
    display: none;
    transition: 1s;
}

.slider__slide--active {
    display: block;
}

.slider__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 2rem);
    width: 3rem;
    height: 4rem;
    background-color: var(--color1);
    color: #fff;
    font-weight: bold;
}

.slider__arrow--left {
    left: 0;
    border-radius: 0 5px 5px 0;
}

.slider__arrow--right {
    right: 0;
    border-radius: 5px 0 0 5px;
}
